<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://acme-webstore-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6327c571-12f0-4634-9d3e-404ad37e6be9/resourceGroups/acme-rg/providers/Microsoft.Web/sites/acme-webstore-functions</ResourceId>
    <UserName>$acme-webstore-functions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://acme-webstore-functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>